* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common  */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 24px); /* chua hieu vi sao tru 24*/
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5853;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    background: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.btn {
    font-weight: 600;
    min-width: 118px;
    line-height: 50px;
    padding: 0px 16px;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    background: #171100;
    color: #fff;
    border-radius: 24.5px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Footer */
.footer {
    padding: 96px 135px 0px;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: solid 1px #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.86;
    max-width: 267px;
    color: #bfbcb2;
}

.footer .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0px;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #fff;
}

.footer .copyright {
    padding: 28px 0px;
}

.footer .copyright {
    text-align: center;
    color: #807d74;
    line-height: 1.86;
    font-size: 1.4rem;
}
